### Display the multiplication table of a number

In [1]:
n=int(input("Enter the number:"))
num_stop=int(input("Enter the number where to stop:"))
for i in range(1,num_stop+1):
        print(n,'*',i,"=",n*i)

Enter the number:300
Enter the number where to stop:100
300 * 1 = 300
300 * 2 = 600
300 * 3 = 900
300 * 4 = 1200
300 * 5 = 1500
300 * 6 = 1800
300 * 7 = 2100
300 * 8 = 2400
300 * 9 = 2700
300 * 10 = 3000
300 * 11 = 3300
300 * 12 = 3600
300 * 13 = 3900
300 * 14 = 4200
300 * 15 = 4500
300 * 16 = 4800
300 * 17 = 5100
300 * 18 = 5400
300 * 19 = 5700
300 * 20 = 6000
300 * 21 = 6300
300 * 22 = 6600
300 * 23 = 6900
300 * 24 = 7200
300 * 25 = 7500
300 * 26 = 7800
300 * 27 = 8100
300 * 28 = 8400
300 * 29 = 8700
300 * 30 = 9000
300 * 31 = 9300
300 * 32 = 9600
300 * 33 = 9900
300 * 34 = 10200
300 * 35 = 10500
300 * 36 = 10800
300 * 37 = 11100
300 * 38 = 11400
300 * 39 = 11700
300 * 40 = 12000
300 * 41 = 12300
300 * 42 = 12600
300 * 43 = 12900
300 * 44 = 13200
300 * 45 = 13500
300 * 46 = 13800
300 * 47 = 14100
300 * 48 = 14400
300 * 49 = 14700
300 * 50 = 15000
300 * 51 = 15300
300 * 52 = 15600
300 * 53 = 15900
300 * 54 = 16200
300 * 55 = 16500
300 * 56 = 16800
300 * 57 = 17100
300 * 58 = 17400
300 * 59 = 17700
300 * 60 = 18000
300 * 61 = 18300
300 * 62 = 18600
300 * 63 = 18900
300 * 64 = 19200
300 * 65 = 19500
300 * 66 = 19800
300 * 67 = 20100
300 * 68 = 20400
300 * 69 = 20700
300 * 70 = 21000
300 * 71 = 21300
300 * 72 = 21600
300 * 73 = 21900
300 * 74 = 22200
300 * 75 = 22500
300 * 76 = 22800
300 * 77 = 23100
300 * 78 = 23400
300 * 79 = 23700
300 * 80 = 24000
300 * 81 = 24300
300 * 82 = 24600
300 * 83 = 24900
300 * 84 = 25200
300 * 85 = 25500
300 * 86 = 25800
300 * 87 = 26100
300 * 88 = 26400
300 * 89 = 26700
300 * 90 = 27000
300 * 91 = 27300
300 * 92 = 27600
300 * 93 = 27900
300 * 94 = 28200
300 * 95 = 28500
300 * 96 = 28800
300 * 97 = 29100
300 * 98 = 29400
300 * 99 = 29700
300 * 100 = 30000